<div id="header">
  <div class="logo">
    <a href="/">Youm!!!</a>
  </div>

  <div class="heading">
    <p>◆まずは、メニューを投稿！</p>
    <p>◆気に入ったメニューがあれば、購入してお店を応援！</p>
  </div>

  <div class="link">
    <ul id="nav">
      <li>メニュー</li>
      <li>メニュー</li>
      <li>メニュー</li>
    </ul>
  </div>
</div>