<div class="content-wrapper">
  <div class="content-block">
    <div class="content">
      <div class="user-about">
        <div class="image">
          <%= image_tag "nouser.png" %>
        </div>
        <div class="profile">
          <div class="name-about">
            <div class="name">
              洋食亭クマガイ
            </div>
          </div>
          <div class="detail">
            大正創業の老舗です
          </div>
        </div>
      </div>
      <div class="images">
        <%= image_tag "saien1.jpg" %>
      </div>
      <div class="text">
       <p>これはサンプルテキストこれはサンプルテキストこれはサンプルテキスト</p>
      </div>
    </div>
  </div>
</div>